
html {
    font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high */
    font-family: "Georgia", sans-serif; /* this should be the rest of the output you got from Google Fonts */
  }
  h1 {
    font-size: 60px;
    text-align: center;
  }
  
  p,
  li {
    font-size: 13px;
    line-height: 2;
    letter-spacing: 1px;
  }
  html {
    background-color: #fdb2f4;
  }
  
  body {
    width: 800px;
    margin: 0 auto;
    background-color: #ffc2ec;
    padding: 0 20px 20px 20px;
    border: 3px solid rgb(18, 0, 52);
  }
  h1 {
    margin: 0;
    padding: 20px 0;
    color: #e471e4;
    text-shadow: 3px 3px 1px black;
  }
  img {
    display: block;
    margin: 0 auto;
  }
  
  
  
      
  